<div class ="container">
    <h2 class="page-header">Social Computing Department</h2>
    <form>
      <div class="form-group">
        <label>Information About Our SOCO Department</label>
        
        <p>
            The Social Computing Group​
            At the intersection of computer science and social science, we conduct applied research into intelligent data-intensive systems and their application in social media, technology-enhanced learning, and knowledge management domains. Headed by Prof. Dr. Mohamed Amine Chatti, we design, implement, and evaluate new analytics-driven theories, methods and systems for tomorrow’s smart learning and working environments. We offer lectures, seminars, and practical courses in learning technologies, web technologies, data science and visual analytics, following a technology-enhanced, student-centered learning approach.
            
            We're part of the Department of Computer Science and Applied Cognitive Science, Faculty of Engineering at the University of Duisburg-Essen, one of the top universities worldwide younger than 50 years.
        </p>

        

      </div>

     <div >
      

        
     </div>
    </form>